.about-intro {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    margin-top:50px;
    margin-bottom:100px;
    max-width:1000px;

}

.about-intro h1 {
    font-size:70px;
}
.about-intro p {
    /* margin-top:50px; */
    margin-bottom:20px;
}


.visual-1 img {
    max-width:350px;
    padding-left:50px;
}

.visual-2 img {
    max-width:400px;
    padding-right:100px;
}

.visual-3 img{
    max-width:250px;
    }


    .about-container {
    max-width:1500px;
    
    }
.about-body {
    margin-top:50px;
    margin-bottom:50px;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;

}


.desc {
    max-width:1000px;
}

.desc p, .team-container p {
    font-size:16px;
    font-weight:500;
    line-height:30px;

}

.desc h5:after {
    content: ""; 
    display: block; 
    margin: 0;
    margin-bottom:20px; 
    width: 8%; 
    padding-top: 20px; 
    border-bottom: 4px solid; 
}

.meet-the-team {
    margin-top:50px;
}
.team-container {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:center;
    margin-top:100px;
    margin-bottom:100px;
    max-width:1500px;
}


  .team-member {
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

  .team-member h5 {
      font-size:18px;
  }

  .team-member p {
      font-size:14px;
  }

  .team-member img {
      max-width:250px;
      margin-bottom:20px;
  }






  /* @media only screen and (max-width: 1500px) {
    .desc {
        max-width:700px;
    }
  } */



  @media only screen and (max-width: 1280px) {
   
    .visual-1 img {
        max-width:325px;
    }

    .visual-2 img {
        max-width:325px;
    }

  }


  @media only screen and (max-width: 1150px) {
   
    .visual-1 img {
        max-width:225px;

    }

    .visual-2 img {
        max-width:275px;
    }

  }


  @media only screen and (max-width: 1000px) {
    .team-grid {
        grid-template-columns: auto auto auto;
        
      }


  }


  @media only screen and (max-width: 900px) {
   .visual-1, .visual-2 {
       display:none;
   }

  }


  @media only screen and (max-width: 750px) {
    .team-grid {
        grid-template-columns: auto auto;
        
      }


  }


  @media only screen and (max-width: 500px) {
    .team-grid {
        grid-template-columns: auto;
        
      }


  }